body {
  background-image: url(./8319d9d7262ffaee1afc33a77f388a50.gif);
  background-repeat: no-repeat;
  background-size: 1000px;
}

h1 {
  text-align: center;
  color: white;
  border-style: dashed;
  background-color: coral;
}
